
@model QLKhachSanWeb.Models.ListReportModel
<div>
    <script type="text/javascript" src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.simplemodal.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.4.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.4.min.js"></script>
     <link href="~/css/styles.css" rel="stylesheet" />
     <link href="~/css/jquery-ui.css" rel="stylesheet" />
     <script src="~/Scripts/thienmain.js"></script>
    @using (Html.BeginForm())
       {
        <div>
               
                 Từ ngày @Html.TextBoxFor(x => x.StarDaySearch, new { @class = "datepicker",Value="" })
                 đến ngày @Html.TextBoxFor(x => x.EndDaySearch, new { @class = "datepicker",Value="" })
                 <button type="submit" id="btnxembaocao">Xem Báo Cáo</button>
                 <a href="~/Home/Index"> <button type="button" id="btnxembaocao">Về Trang Chủ</button></a>
             </div>    
         }
    <div>
        <table class="table-service">
        <tr>
            <td>
               Phòng
            </td>
             <td>
               Họ và Tên
            </td>
             <td>
               CMND
            </td>
            <td>
              Ngày đến
            </td>
             <td>
              Ngày đi
            </td>
              <td>
              Tiền phòng
            </td>
             <td>
              Dịch vụ
            </td>
             <td>
              Tiền dịch vụ
            </td>
             <td>
              Tổng tiền
            </td>
        </tr>
                @foreach(var team in Model.ReportDetail)
                {
                    <tr>
                        <td>
                          @team.Rom
                        </td>
                         <td>
                          @team.Name
                        </td>
                         <td>
                           @team.CMND
                        </td>
                        <td>
                          @team.StarDay
                        </td>
                         <td>
                          @team.EndDay
                        </td>
                          <td>
                          @team.PriceRom
                        </td>
                         <td>
                          @team.NameService
                        </td>
                         <td>
                          @team.PriceService
                        </td>
                         <td>
                          @team.SumPrice
                        </td>
                    </tr>
                }
                <tr>
                    
                </tr>
    </table>
</div>
      <div class="search">
          <br><br />
        <h1>Tổng Tiền : @Model.SumPriceReport vnđ</h1> 
      </div>

</div>

