@{
    Layout = "~/Views/Shared/_AdminRoot.cshtml";
}

@model List<QLKhachSanWeb.Models.ServiceModel>

<h1>Danh sách phòng của khách sạn</h1>
  <div>
    <table class="table-service">
                    <tr>
                        <td >Phòng</td>
                        <td >Tầng</td>
                        <td >Loại phòng</td>
                        <td>Giá dịch vụ</td>
                        <td>Mô tả</td>
                        <td>Tình trạng</td>
                        <td>  </td>
                         <td>  </td>
                    </tr>
                    @foreach (QLKhachSanWeb.Models.ServiceModel team in Model)
                    {
                    <tr>
                        <td >@team.Name</td>
                        <td >@team.FloorNumber</td>
                        <td >@team.ServiceType</td>
                        <td>@team.Price</td>
                        <td>@team.Description</td>
                        @if (@team.IsActive == 1)
                        {
                            <td>Đang hoạt động</td>
                        }
                        else
                        {
                            <td>Không hoạt động</td>
                        }
                        <td>
                           @Html.ActionLink("Cập nhật","UpdateServiceRoom","Admin",new { team.Id },null)
                        </td>
                         <td>
                           @Html.ActionLink("Xoá","DeleteServiceRoom","Admin",new { team.Id },null)
                        </td>
                    </tr>
                    }
                </table>
  </div>
