@{
    Layout = "~/Views/Shared/_AdminRoot.cshtml";
}
@model QLKhachSanWeb.Models.ListReportModel
<div>
      <script src="~/Scripts/thienmain.js"></script>
    @using (Html.BeginForm())
       {
        <div>
                  @*Từ ngày <input type="text" class="datepicker" name="fromdate" /> 
                  đến ngày <input type="text" class="datepicker" name="todate" />
                  <button type="submit" id="btnxembaocao">Xem Báo Cáo</button>*@

                 Từ ngày @Html.TextBoxFor(x => x.StarDaySearch, new { @class = "datepicker",Value="" })
                 đến ngày @Html.TextBoxFor(x => x.EndDaySearch, new { @class = "datepicker",Value="" })
                 <button type="submit" id="btnxembaocao">Xem Báo Cáo</button>
             </div>    
         }
    <div>
        <table class="table-service">
        <tr>
            <td>
               Phòng
            </td>
             <td>
               Họ và Tên
            </td>
             <td>
               CMND
            </td>
            <td>
              Ngày đến
            </td>
             <td>
              Ngày đi
            </td>
              <td>
              Tiền phòng
            </td>
             <td>
              Dịch vụ
            </td>
             <td>
              Tiền dịch vụ
            </td>
             <td>
              Tổng tiền
            </td>
        </tr>
                @foreach(var team in Model.ReportDetail)
                {
                    <tr>
                        <td>
                          @team.Rom
                        </td>
                         <td>
                          @team.Name
                        </td>
                         <td>
                           @team.CMND
                        </td>
                        <td>
                          @team.StarDay
                        </td>
                         <td>
                          @team.EndDay
                        </td>
                          <td>
                          @team.PriceRom
                        </td>
                         <td>
                          @team.NameService
                        </td>
                         <td>
                          @team.PriceService
                        </td>
                         <td>
                          @team.SumPrice
                        </td>
                    </tr>
                }
                <tr>
                    
                </tr>
    </table>
</div>
      <div class="search">
          <br><br />
        <h1>Tổng Tiền : @Model.SumPriceReport vnđ</h1> 
      </div>

</div>
@*
<script type="text/javascript">
    $(document).ready(function (e) {
        $('#form2').submit(function () {
            var SearchModel = {
                StarDaySearch: $("input[name=fromdate]").val(),
                EndDaySearch: $("input[name=todate]").val()
            }
            $.post('ReportAddmin', SearchModel)
            .success(function () { return true;})
               .error(function () { return false;});

            return false;

        });
    });
</script>
*@
