@model EntityLibrary.BookingInfo
@{
    string tinhtran = "";
   switch(Model.StatusId)
   {
       case 1: tinhtran="Đặt phòng đảm bảo";
        break;
       case 2: tinhtran = "Đặt phòng không đảm bảo";
        break;
       case 3: tinhtran = "Phòng đang ở";
        break;
   }
   
    }
<div class="tooltip">
    <span><b>Tên: </b> @Model.CustomerName</span><br />
    <span><b>SĐT: </b> @Model.PhoneNumber</span><br />
     <span><b>CMND: </b> @Model.CustomerCardNo</span><br />
    <span><b>Ngày đặt: </b> @Model.BookingDate.Value.ToString("dd/MM/yyyy")</span><br />
    <span><b>Ngày nhận phòng: </b> @Model.CheckingDate.Value.ToString("dd/MM/yyyy")</span><br />
     <span><b>Ngày trả phòng: </b>@Model.CheckOutDate.Value.ToString("dd/MM/yyyy")</span><br />
   <span><b>Loại:</b> @tinhtran</span><br />
    <span><b>Thông tin khác:</b> @Model.CustomerInfoOther</span>

   
    
</div>