
@{
    Layout = "~/Views/Shared/_AdminRoot.cshtml";
}
@model QLKhachSanWeb.Models.UserModel
<div class="admin-form">
<h1>Thêm tài khoản mới cho nhân viên</h1>
        @using (Html.BeginForm())
        {
                 <div>
       
                <table>
                    <tr>
                        <td>Họ và tên:</td>
                        <td>
                            @Html.EditorFor(x => x.Name)
                            @Html.ValidationMessageFor(x => x.Name)
                        </td>
                    </tr>
                    <tr>
                       <td>Tên đăng nhập:</td>
                        <td>
                            @Html.EditorFor(x => x.UserName)
                            @Html.ValidationMessageFor(x => x.UserName)
                        </td>
                    </tr>
                        <tr>
                       <td>Mật Khẩu :</td>
                        <td>
                            @Html.EditorFor(x => x.Password)
                            @Html.ValidationMessageFor(x => x.Password)
                        </td>
                    </tr>
                      <tr>
                        <td>Loại nhân viên :</td>
                        <td>
                            @Html.DropDownListFor(x => x.PermissonId,new List<SelectListItem>(){ 
                            new SelectListItem { Value = "1", Text = "Quản lý" }
                            ,new SelectListItem { Value = "2", Text = "Nhân viên" }
                            })
                            @Html.ValidationMessageFor(x => x.PermissonId)
                        </td>
                    </tr>
                </table>
                <div class="cmd">
                    <input type="submit" id="btnSave" value="Thêm mới"/>
                </div>
            </div>
        }
    </div>
