@{
    Layout = "~/Views/Shared/_AdminRoot.cshtml";
}
@model QLKhachSanWeb.Models.ServiceModel
<div class="admin-form">
<h1>Cập dịch vụ khách sạn</h1>
       @using (Html.BeginForm())
        {
               <div>
                <table >
                    <tr>
                        <td>Tên dịch vụ:</td>
                        <td>
                            @Html.EditorFor(x => x.Name)
                            @Html.ValidationMessageFor(x => x.Name)
                        </td>
                    </tr>
                    <tr>
                       <td>Giá :</td>
                        <td >
                            @Html.EditorFor(x => x.Price)
                            @Html.ValidationMessageFor(x => x.Price)
                        </td>
                    </tr> 
                      <tr>
                       <td>Mô tả :</td>
                        <td >
                            @Html.EditorFor(x => x.Description)
                            @Html.ValidationMessageFor(x => x.Description)
                        </td>
                    </tr> 
                      <tr>
                        <td >Tình trạng :</td>
                        <td >
                              @Html.DropDownListFor(x => x.IsActive,new List<SelectListItem>(){ 
                            new SelectListItem { Value = "1", Text = "Hoạt động" }
                            ,new SelectListItem { Value = "2", Text = "Không hoạt động" }
                            })
                            @Html.ValidationMessageFor(x => x.IsActive)
                        </td>
                    </tr>
                </table>
                <div class="cmd">
                    <input type="submit" id="btnSave" value="Cập nhật"/>
                </div>
            </div>
       }
    </div>