@model QLKhachSanWeb.Models.UserModel
@{
    Layout = "~/Views/Shared/_AdminRoot.cshtml";
}
<div class="admin-form">
<h1>Cập nhật thông tin cho nhân viên</h1>
       @using (Html.BeginForm())
        {
               <div>
                <table>
                    <tr>
                        <td >Họ và tên:</td>
                        <td>
                            @Html.EditorFor(x => x.Name)
                            @Html.ValidationMessageFor(x => x.Name)
                        </td>
                    </tr>
                    <tr>
                       <td>Tên đăng nhập:</td>
                        <td >
                            @Html.EditorFor(x => x.UserName)
                            @Html.ValidationMessageFor(x => x.UserName)
                        </td>
                    </tr> 
                      <tr>
                        <td>Loại nhân viên :</td>
                        <td>
                              @Html.DropDownListFor(x => x.PermissonId,new List<SelectListItem>(){ 
                            new SelectListItem { Value = "1", Text = "Quản lý" }
                            ,new SelectListItem { Value = "2", Text = "Nhân viên" }
                            })
                            @Html.ValidationMessageFor(x => x.PermissonId)
                        </td>
                    </tr>
                      <tr>
                        <td>Quyền nhân viên :</td>
                        <td >
                              @Html.DropDownListFor(x => x.IsActive,new List<SelectListItem>(){ 
                            new SelectListItem { Value = "1", Text = "Hoạt động" }
                            ,new SelectListItem { Value = "2", Text = "Không hoạt động" }
                            })
                            @Html.ValidationMessageFor(x => x.IsActive)
                        </td>
                    </tr>
                </table>
                <div class="cmd">
                    <input type="submit" id="btnSave" value="Cập nhật"/>
                </div>
            </div>
       }
    </div>