@{
    Layout = "~/Views/Shared/_AdminRoot.cshtml";
}
@model QLKhachSanWeb.Models.ListLogModel
     <script src="~/Scripts/thienmain.js"></script>
@*
  @using (Html.BeginForm())
       {
        <div>
               
                 Từ ngày @Html.TextBoxFor(x => x.StarDaySearch, new { @class = "datepicker",Value="" })
                 đến ngày @Html.TextBoxFor(x => x.EndDaySearch, new { @class = "datepicker",Value="" })
                 <button type="submit" id="btnxembaocao">Tìm kiếm</button>
             </div>    
         }
*@

<table class="table-service">
    <tr>
        <td>Mã nhật kí</td>
        <td>Ngày thực hiện</td>
        <td>Hành động</td>
        <td>Người thực hiện</td>
    </tr>
     @foreach (QLKhachSanWeb.Models.LogModel team in Model.ListLogs)
     {
         <tr>
             <td>@team.id</td>
             <td>@team.CreateDate</td>
             <td>@team.ActionName</td>
             <td>@team.UserName</td>
         </tr>
     }
    <tr>
        <td>
            @if(Model.PageInfo.TotalPages>1)
            {
            <div>Trang:
            @{for (int i = 1; i <= Model.PageInfo.TotalPages; i++)
              {
                <a href="@Url.Action("XemLog","Admin", new { page=@i})">@i</a>
              }
            }
            </div>
            }
        </td>
    </tr>
</table>
 