@model QLKhachSanWeb.Models.CheckOutModel

    
  
  
<table class="form">
   @Html.HiddenFor(x => x.AddServiceModel.Id)
    <tr>
        <td class="lb">@Html.LabelFor(x=>x.AddServiceModel.ServiceId)</td>
        <td class="ct">@Html.DropDownListFor(x=>x.AddServiceModel.ServiceId,Model.ServicesList)
            @Html.ValidationMessageFor(x=>x.AddServiceModel.ServiceId)

        </td>
    </tr>
    <tr>
        <td class="lb">@Html.LabelFor(x=>x.AddServiceModel.Quatity)</td>
        <td class="ct">@Html.EditorFor(x=>x.AddServiceModel.Quatity)
               @Html.ValidationMessageFor(x=>x.AddServiceModel.Quatity)
        </td>
    </tr>      
      <tr>
        <td class="lb">@Html.LabelFor(x=>x.AddServiceModel.Price)</td>
        <td class="ct">@Html.TextBoxFor(x => x.AddServiceModel.Price)</td>
    </tr>
      <tr>
        <td class="lb">@Html.LabelFor(x=>x.AddServiceModel.Total)</td>
        <td class="ct">@Html.EditorFor(x=>x.AddServiceModel.Total)
              @Html.ValidationMessageFor(x=>x.AddServiceModel.Total)
        </td>
    </tr>
     <tr>
        <td class="lb">@Html.LabelFor(x=>x.AddServiceModel.Note)</td>
        <td class="ct">@Html.TextAreaFor(x=>x.AddServiceModel.Note)</td>
    </tr>
 
</table>
<div class="commanda">
    <input type="submit" id="btnInsertSV" value="Thêm" />
    <input type="button" id="btnCancelUpDate" value="Bỏ qua" style="display:none" />
     
</div>


<div class="div-scroll">
    <table class="table-service">
    <tr>
        <th>STT</th>
        <th>Tên</th>
        <th>Số lượng</th>
        <th>Giá</th>
        <th>Tổng</th>
          <th>Thao tác</th>
        
    </tr>    
    @for (int i = 0; i < Model.Services.Count;i++ )
    { 
        var item=Model.Services[i];
        <tr id="data-@item.Id">
            <td data-id="@item.Id">@(i+1)</td>
            <td data-value="@item.ServiceId">@item.ServiceName</td>
            <td data-value="@item.Quatity">@item.Quatity.ToString("0.00")</td>
            <td data-value="@item.Price">@String.Format("{0:0,0}",item.Price)</td>
            <td data-value="@item.Total">@String.Format("{0:0,0}", item.Total)</td>
              <td><a href="javascript:loadDataEdit(@item.Id)">Sửa</a>|<a href="javascript:deleteService(@item.Id)">Xóa</a></td>
        </tr>
    }
    
</table>
    </div>

<div class="info">   
    <span><b>Tổng tiền:</b>@String.Format("{0:0,0}",Model.Total)</span><br />
   </div>
